html {
    font-family: 'Inter' !important;
}

.size {
    max-width: 31rem;
}
.size-page2{
    max-width: 50rem; 
}
#page-2{
    background-color:#FFFFFF;
}
.bg-form{
    background-color:#4579FF;
}

.bg-page-blue{
    background-color:#4579FF;
}

.container {
    height: calc(100vh-2rem);
    min-height: 640px;

}

.font-title-color{
    color:#4579FF;
}

.mb-icon-page-1{
    margin-bottom:400px;
}

.bg-icon{
    background-color:#ECF1FF;
}

/* .hp-position-center{
    bottom:200px;
} */

@media screen and (min-width:360px) {
    .hp-position-center{
        position: absolute;
        bottom:-10%;
        right:0%;
        left:0%;
        margin: auto;
    }
    .circle-left-top{
        position: absolute;
        top:0px;
        left:0px;
        width:120px;
        height:120px;
        z-index:1;
    }
    .circle-right-bottom{
        position: absolute;
        bottom:0px;
        right:0px;
        width:120px;
        height:120px;
        z-index:1;
    }
    .bg-page2-top{
        position: absolute;
        top:-150px;
        left:0px;
        width:80px;
        height:160px;
        z-index:1;
    }
    .bg-page2-bottom{
        position: absolute;
        bottom:300px;
        right:0px;
        width:88px;
        height:166px;
        z-index:3;
    }

    .bg-page3-bottom{
        position: absolute;
        bottom:0px;
        left:15%;
        width:100px;
        height:120px;
        z-index:-1;
    }
}



@media screen and (min-width:640px) {
    .hp-position-center{
        position: absolute;
        bottom:-20%;
        right:0%;
        left:0%;
        margin: auto;
    }
    .circle-left-top{
        position: absolute;
        top:0px;
        left:0px;
        width:120px;
        height:120px;
        z-index:1;
    }
    .circle-right-bottom{
        position: absolute;
        bottom:0px;
        right:0px;
        width:120px;
        height:120px;
        z-index:1;
    }
    .bg-page2-top{
        position: absolute;
        top:-150px;
        left:0px;
        width:80px;
        height:160px;
        z-index:1;
    }
    .bg-page2-bottom{
        position: absolute;
        bottom:300px;
        right:0px;
        width:88px;
        height:166px;
        z-index:3;
    }

    .bg-page3-bottom{
        position: absolute;
        bottom:0px;
        left:15%;
        width:100px;
        height:120px;
        z-index:-1;
    }
}


 @media screen and (min-width:1280px) {
    .hp-position-center{
        position: absolute;
        bottom:0%;
        right:0%;
        left:0%;
        margin: auto;
        z-index
        
    }
    .circle-left-top{
        position: absolute;
        top:0px;
        left:0px;
        width:280px;
        height:280px; 
        z-index:3;  
    }
    .circle-right-bottom{
        position: absolute;
        bottom:0px;
        right:0px;
        width:560px;
        height:560px;
        z-index:-1;
    }
    .bg-page2-top{
        position: absolute;
        top:-150px;
        left:0px;
        width:152px;
        height:248px;
        z-index:3;
    }
    .bg-page2-bottom{
        position: absolute;
        bottom:400px;
        right:0px;
        width:152px;
        height:248px;
        z-index:3;
    }
    .bg-page3-bottom{
        position:absolute;
        bottom:0px;
        left:0px;
        width:546px;
        height:544px;
        z-index:-2;
    }
    
}

.text-icon{
    font-size:10px;
    font-weight: 400;
}

.buble-page1-right1{
    width:260px;
    height:300px;
    left: 50px;
    top: 100px;
    border-radius:9999px;
    background-color:#4579FF;
    background-image:linear-gradient(90deg, #4579FF 0%, #5CFFB1 100%);
}

.buble-page-1{
    background-color:#4579FF;
    background-image:linear-gradient(90deg, #4579FF 0%, #5CFFB1 100%);
}

/* @media screen and(min-width:360px){
    .buble-page1-right1{
        width:260px;
        height:260px;
        left: 50px;
top: 40px;
        border-radius:9999px;
        background-color:#4579FF;
        background-image:linear-gradient(90deg, #4579FF 0%, #5CFFB1 100%);
    }

} */

@media screen and(min-width:1024px){
    .buble-page1-right1{
        width: 631px;
        height: 631px;
        left: 50px;
        top: 40px;
        border-radius:9999px;
        background-color:#4579FF;
        background-image: linear-gradient(90deg, #4579FF 0%, #5CFFB1 100%);;
    }

}

footer{
    background: linear-gradient(269.78deg, #4579FF 0.18%, #5CFFB1 99.81%);  
}